env:
  es6: true
  node: true
extends:
  - 'eslint:recommended'
  - 'airbnb-base'
parser: 'babel-eslint'
parserOptions:
  sourceType: module
plugins:
  - 'babel'
rules:
  linebreak-style:
    - error
    - unix
  global-require:
    - off
  import/no-dynamic-require:
    - off
  import/prefer-default-export:
    - off
